header {
	background:#2c3e50;
	color:#fff;
	padding-top: 5px;
	padding-bottom: 5px;
}
section{
	background:#e9e9e9;
	padding-top: 10px;
}
footer {
	background:#16a085;
	color:#fff;
	padding-top: 5px;
	padding-bottom: 5px;
}
.encabezado{
	background:#fff;
	margin-bottom:0;
	padding-bottom: 5px;
	padding-left: 10px;
}

